global_defs {
    router_id {{ inventory_hostname }}
    vrrp_version 2
    enable_script_security
}

vrrp_instance VI_POSTGRES {
    state BACKUP
    interface {{ postgres_ha_interface }}

    virtual_router_id {{ keepalived_vrrp_id }}
    advert_int {{ keepalived_advert_int }}

    priority {{ 100 - groups['postgres_haproxy_nodes'].index(inventory_hostname) }}

    authentication {
        auth_type PASS
        auth_pass {{ pg_vrrp_secret }}
    }

    virtual_ipaddress {
        {{ postgres_ha_virtual_ip }}
    }
}