
target_clusters = {
  db   = "core-harbor-postgres"
  etcd = "core-harbor-etcd"
}

primary_role = "db"

service_config = {
  "db" = {
    role            = "postgres"
    network_tier    = "postgres"
    base_image_path = "../../../packer/output/base-postgres/ubuntu-24-base-postgres.qcow2"

    nodes = {
      "00" = { ip_suffix = 200, vcpu = 2, ram_size = 4096, os_disk_capacity_gib = 40 }
      # Uncomment the following lines for HA setup, abide by node % 2 != 0.
      # "01" = { ip_suffix = 201, vcpu = 2, ram_size = 4096, os_disk_capacity_gib = 40 }
      # "02" = { ip_suffix = 202, vcpu = 2, ram_size = 4096, os_disk_capacity_gib = 40 }
    }
  }

  "etcd" = {
    role            = "etcd"
    network_tier    = "etcd"
    base_image_path = "../../../packer/output/base-etcd/ubuntu-24-base-etcd.qcow2"

    nodes = {
      "00" = { ip_suffix = 200, vcpu = 2, ram_size = 4096, os_disk_capacity_gib = 40 }
      # Uncomment the following lines for HA setup, abide by node % 2 != 0.
      # "01" = { ip_suffix = 201, vcpu = 2, ram_size = 4096, os_disk_capacity_gib = 40 }
      # "02" = { ip_suffix = 202, vcpu = 2, ram_size = 4096, os_disk_capacity_gib = 40 }
    }
  }
}

ansible_files = {
  playbook_file           = "20-provision-data-services.yaml"
  inventory_template_file = "inventory-postgres-cluster.yaml.tftpl"
}
