
environment = "development"

vault_pki_engine_config = {
  path                      = "pki_prod"
  default_lease_ttl_seconds = 60 * 60 * 24 * 7  # 7 Days
  max_lease_ttl_seconds     = 60 * 60 * 24 * 45 # 45 Days
}
