
service_catalog_name = "gitlab"

gitlab_kubeadm_config = {
  "master" = {
    role            = "master"
    network_tier    = "default"
    base_image_path = "../../../packer/output/02-base-kubeadm/ubuntu-server-24-02-base-kubeadm.qcow2"

    nodes = {
      "00" = { ip_suffix = 200, vcpu = 2, ram = 2048 }
      # "01" = { ip_suffix = 201, vcpu = 2, ram = 2048 }
      # "02" = { ip_suffix = 202, vcpu = 2, ram = 2048 }
    }
  }

  "worker" = {
    role            = "worker"
    network_tier    = "default"
    base_image_path = "../../../packer/output/02-base-kubeadm/ubuntu-server-24-02-base-kubeadm.qcow2"

    nodes = {
      "00" = { ip_suffix = 210, vcpu = 2, ram = 2048 }
      # "01" = { ip_suffix = 211, vcpu = 2, ram = 2048 }
      # "02" = { ip_suffix = 212, vcpu = 2, ram = 2048 }
    }
  }
}

kubernetes_cluster_configuration = {
  pod_subnet = "10.244.0.0/16" # default
}

ansible_files = {
  playbook_file           = "30-provision-kubeadm.yaml"
  inventory_template_file = "inventory-kubeadm-cluster.yaml.tftpl"
}
