
gitlab_kubeadm_compute = {
  cluster_identity = {
    service_name = "gitlab"
    component    = "kubeadm"
    cluster_name = "30-gitlab-kubeadm"
  }

  kubeadm_config = {
    master_nodes = {
      "gitlab-kubeadm-master-00" = { ip = "172.16.134.200", vcpu = 2, ram = 6144 }
      "gitlab-kubeadm-master-01" = { ip = "172.16.134.201", vcpu = 2, ram = 6144 }
      "gitlab-kubeadm-master-02" = { ip = "172.16.134.202", vcpu = 2, ram = 6144 }
    }
    worker_nodes = {
      "gitlab-kubeadm-worker-00" = { ip = "172.16.134.210", vcpu = 4, ram = 8192 }
      "gitlab-kubeadm-worker-01" = { ip = "172.16.134.211", vcpu = 4, ram = 8192 }
      "gitlab-kubeadm-worker-02" = { ip = "172.16.134.212", vcpu = 4, ram = 8192 }
    }
    base_image_path = "../../../packer/output/02-base-kubeadm/ubuntu-server-24-02-base-kubeadm.qcow2"
  }

  haproxy_config = {
    virtual_ip      = "172.16.134.250"
    nodes           = {} # Use external Keepalived by Defaults
    base_image_path = "../../../packer/output/08-base-haproxy/ubuntu-server-24-08-base-haproxy.qcow2"
  }

  pod_subnet     = "10.244.0.0/16"
  registry_host  = "172.16.135.200:5000" # Harbor Registry Endpoint
  http_nodeport  = 30080
  https_nodeport = 30443
}

gitlab_kubeadm_infra = {
  network = {
    nat = {
      gateway = "172.16.86.1"
      cidrv4  = "172.16.86.0/24"
      dhcp = {
        start = "172.16.86.2"
        end   = "172.16.86.254"
      }
    }
    hostonly = {
      gateway = "172.16.134.1"
      cidrv4  = "172.16.134.0/24"
    }
  }
  allowed_subnet = "172.16.134.0/24"
}
