
service_catalog_name = "harbor"

harbor_postgres_config = {
  "patroni" = {
    role            = "postgres"
    network_tier    = "postgres"
    base_image_path = "../../../packer/output/04-base-postgres/ubuntu-server-24-04-base-postgres.qcow2"

    nodes = {
      "00" = { ip_suffix = 200, vcpu = 2, ram = 4096, data_disks = [{ name_suffix = "data", capacity = 100 }] }
      # "01" = { ip_suffix = 201, vcpu = 2, ram = 4096, data_disks = [{ name_suffix = "data", capacity = 100 }] }
      # "02" = { ip_suffix = 202, vcpu = 2, ram = 4096, data_disks = [{ name_suffix = "data", capacity = 100 }] }
    }
  }

  # Component 2: Etcd
  "etcd" = {
    role            = "etcd"
    network_tier    = "etcd"
    base_image_path = "../../../packer/output/09-base-etcd/ubuntu-server-24-09-base-etcd.qcow2"

    nodes = {
      "00" = { ip_suffix = 200, vcpu = 2, ram = 4096 }
      # "01" = { ip_suffix = 201, vcpu = 2, ram = 4096 }
      # "02" = { ip_suffix = 202, vcpu = 2, ram = 4096 }
    }
  }
}

ansible_files = {
  playbook_file           = "20-provision-data-services.yaml"
  inventory_template_file = "inventory-postgres-cluster.yaml.tftpl"
}
