
harbor_postgres_compute = {
  cluster_identity = {
    layer_number = 20
    service_name = "harbor"
    component    = "postgres"
  }

  postgres_config = {
    nodes = {
      "harbor-postgres-db-node-00" = { ip = "172.16.137.200", vcpu = 2, ram = 2048 }
      # Uncomment the following lines for HA setup, abide by nodes % 2 != 0
      # "harbor-postgres-db-node-01" = { ip = "172.16.137.201", vcpu = 2, ram = 2048 }
      # "harbor-postgres-db-node-02" = { ip = "172.16.137.202", vcpu = 2, ram = 2048 }
    }
    base_image_path = "../../../packer/output/04-base-postgres/ubuntu-server-24-04-base-postgres.qcow2"
  }

  etcd_config = {
    nodes = {
      "harbor-postgres-etcd-node-00" = { ip = "172.16.137.210", vcpu = 1, ram = 1024 }
      # Uncomment the following lines for HA setup, abide by nodes % 2 != 0
      # "harbor-postgres-etcd-node-01" = { ip = "172.16.137.211", vcpu = 1, ram = 1024 }
      # "harbor-postgres-etcd-node-02" = { ip = "172.16.137.212", vcpu = 1, ram = 1024 }
    }
    base_image_path = "../../../packer/output/09-base-etcd/ubuntu-server-24-09-base-etcd.qcow2"
  }

  haproxy_config = {
    virtual_ip = "172.16.137.250"
    stats_port = 7000 # For HAProxy Stats
    rw_proxy   = 5000 # For Primary
    ro_proxy   = 5001 # For Replicas

    nodes = {
      "harbor-postgres-haproxy-node-00" = { ip = "172.16.137.220", vcpu = 1, ram = 512 }
    }
    base_image_path = "../../../packer/output/08-base-haproxy/ubuntu-server-24-08-base-haproxy.qcow2"
  }
}

harbor_postgres_infra = {
  network = {
    nat = {
      gateway = "172.16.89.1"
      cidrv4  = "172.16.89.0/24"
      dhcp = {
        start = "172.16.89.2"
        end   = "172.16.89.254"
      }
    }
    hostonly = {
      gateway = "172.16.137.1"
      cidrv4  = "172.16.137.0/24"
    }
  }
  allowed_subnet = "172.16.0.0/16"
}
