
keycloak_groups = {
  "engineering" = {
    description = "Engineering Organization"
    attributes  = { type = "org", sync_to_gitlab = "true" }
  }
  "dev-a" = {
    parent      = "engineering"
    description = "Development Team A"
    attributes  = { type = "team" }
  }
  "infra" = {
    parent      = "engineering"
    description = "Infrastructure & Platform Team"
    attributes  = { type = "team", mission_critical = "true" }
  }
  "finance" = {
    description = "Finance Department"
    attributes  = { type = "dept" }
  }
}

oidc_users = {
  "admin" = {
    username   = "testadmin"
    email      = "testadmin@iac.internal"
    first_name = "System"
    last_name  = "Administrator"
    password   = "testadmin"
    groups     = ["infra"]
  },
  "dev-a-lead" = {
    username   = "dev-a-lead"
    email      = "dev-a-lead@company.com"
    first_name = "DevA"
    last_name  = "Lead"
    password   = "DevPass123!"
    groups     = ["dev-a"]
  }
}
