# Ignore Packer and Terraform secret variable files
packer/secret.auto.pkrvars.hcl
*.tfvars

# Ignore folder for output *.vdi
packer/output
packer-playground/output

# Ignore Terraform state files
.terraform/
terraform.tfstate
terraform.tfstate.backup

terraform/vms

# VSCode
.vscode