# Ignore Packer and Terraform secret variable files
packer/secret.auto.pkrvars.hcl
*.tfvars

# Ansible inventory
ansible/inventory.yml
ansible/inventory.yml.bak

# Ignore folder for output *.vdi
packer/output
packer-playground/output

# Ignore Terraform state files
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform/vms

# VSCode
.vscode
commit-messge.md
vault_pass.txt

ansible/group_vars/vault.yml
