### Ignore Packer and Terraform secret variable files
packer/secret.auto.pkrvars.hcl
*.tfvars
.env

### Ansible
.ansible
ansible/group_vars/all.yaml
ansible/logs
ansible/inventory-*.yaml
ansible/packer-provisioner-ansible*
ansible/fetched/
backup
vault_pass.txt

### Ignore folder for output
packer/output


### Ignore Terraform state files
.terraform/
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
# This is processed while executing `entry.sh`
terraform/*.tf.bak


### HashiCorp Vault
unseal.key
vault/data/*
!vault/data/README.md
vault/keys/
**/tls

# Ignore All TLS files
**/*.tls
**/*.pem
**/*.srl
**/*.key
**/*.crt
**/*.der

## Golang
/iac-tool

### IDEs
.vscode
.idea

## From JetBrain
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Only for recording by commit messages personally.
commit-message.md
pull-request.md
*.bak
