[Unit]
Description=Keycloak Docker Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm \
    --name %n \
    -p {{ keycloak.http_port }}:8080 \
    --env-file /etc/keycloak/admin.env \
    {{ keycloak.image }}:{{ keycloak.version }} \
    start-dev

[Install]
WantedBy=multi-user.target
