
service_catalog_name = "harbor"

harbor_microk8s_config = {
  "frontend" = {
    role            = "microk8s"
    network_tier    = "default"
    base_image_path = "../../../packer/output/03-base-microk8s/ubuntu-server-24-03-base-microk8s.qcow2"
    nodes = {
      "00" = { ip_suffix = 200, vcpu = 4, ram = 4096 }
      # "01" = { ip_suffix = 201, vcpu = 4, ram = 4096 }
      # "02" = { ip_suffix = 202, vcpu = 4, ram = 4096 }
    }
  }
}

ansible_files = {
  inventory_template_file = "inventory-microk8s-cluster.yaml.tftpl"
  playbook_file           = "30-provision-microk8s.yaml"
}
