---
apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
nodeRegistration:
  name: "{{ inventory_hostname }}"
  kubeletExtraArgs:
    - name: "cgroup-driver"
      value: "{{ k8s_cgroup_driver }}"
discovery:
  bootstrapToken:
{% if (groups['master'] | length) > 1 %}
    apiServerEndpoint: "{{ kubeadm_ha_virtual_ip }}:6443"
{% else %}
    apiServerEndpoint: "{{ hostvars[groups['master'][0]]['kubeadm_advertise_ip'] }}:6443"
{% endif %}
    token: "{{ hostvars[groups['master'][0]]['kubeadm_token'] }}"
    caCertHashes:
      - "sha256:{{ hostvars[groups['master'][0]]['kubeadm_ca_hash'] }}"
    unsafeSkipCAVerification: {{ k8s_join_skip_ca_verification | lower }}