
pid_file = "/var/run/vault-agent.pid"

vault {
  address = "{{ vault_addr | trim('/') }}"
  ca_cert = "/etc/vault.d/vault-ca.crt"
}

auto_auth {
  method "approle" {
    mount_path = "auth/{{ vault_auth_path }}"
    config = {
      role_id_file_path = "/etc/vault.d/approle/role_id"
      secret_id_file_path = "/etc/vault.d/approle/secret_id"
      remove_secret_id_file_after_reading = false
    }
  }

  sink "file" {
    config = {
      path = "/tmp/vault-token"
    }
  }
}

# Server Certificate, Key & CA Bundle Template
template {
  destination = "/tmp/cert-bundle.json"
  contents = <<EOH
{{ '{{- with secret "pki/prod/issue/' ~ vault_role_name ~ '" "common_name=' ~ minio_service_domain ~ '" "ip_sans=' ~ advertise_ip ~ ',' ~ minio_ha_virtual_ip ~ '" "ttl=' ~ (vault_agent_cert_ttl | default('24h')) ~ '" -}}' }}
{{ '{{ .Data | toJSON }}' }}
{{ '{{- end -}}' }}
EOH

  command = "/bin/sh -c \"jq -r '.certificate' /tmp/cert-bundle.json > /etc/minio/certs/public.crt && jq -r '.private_key' /tmp/cert-bundle.json > /etc/minio/certs/private.key && jq -r '.issuing_ca' /tmp/cert-bundle.json > /etc/minio/certs/CAs/root_ca.crt && chown {{ minio_user | default('minio-user') }}:{{ minio_group | default('minio-group') }} /etc/minio/certs/public.crt /etc/minio/certs/private.key /etc/minio/certs/CAs/root_ca.crt && chmod 0644 /etc/minio/certs/public.crt /etc/minio/certs/CAs/root_ca.crt && chmod 0600 /etc/minio/certs/private.key && systemctl restart minio\""
}
