---
apiVersion: v1
clusters:
  - cluster:
      certificate-authority-data: "{{ ca_crt_b64 }}"
      server: "https://{{ api_server_vip }}:{{ api_server_port }}"
    name: microk8s-cluster
contexts:
  - context:
      cluster: microk8s-cluster
      user: admin
    name: microk8s
current-context: microk8s
kind: Config
preferences: {}
users:
  - name: admin
    user:
      client-certificate-data: "{{ client_crt_b64 }}"
      client-key-data: "{{ client_key_b64 }}"
