
service_catalog_name = "gitlab"

gitlab_minio_config = {
  "minio" = {
    role            = "minio"
    network_tier    = "minio"
    base_image_path = "../../../packer/output/06-base-minio/ubuntu-server-24-06-base-minio.qcow2"
    nodes = {
      "00" = {
        ip_suffix = 200, vcpu = 2, ram = 3072
        data_disks = [
          { name_suffix = "drive1", capacity = 10737418240 }, # 10GB
          { name_suffix = "drive2", capacity = 10737418240 }
        ]
      }
      "01" = {
        ip_suffix = 201, vcpu = 2, ram = 3072
        data_disks = [
          { name_suffix = "drive1", capacity = 10737418240 }, # 10GB
          { name_suffix = "drive2", capacity = 10737418240 }
        ]
      },
      "02" = {
        ip_suffix = 202, vcpu = 2, ram = 3072
        data_disks = [
          { name_suffix = "drive1", capacity = 10737418240 }, # 10GB
          { name_suffix = "drive2", capacity = 10737418240 }
        ]
      },
      "03" = {
        ip_suffix = 203, vcpu = 2, ram = 3072
        data_disks = [
          { name_suffix = "drive1", capacity = 10737418240 }, # 10GB
          { name_suffix = "drive2", capacity = 10737418240 }
        ]
      }
    }
  }
}

gitlab_minio_tenants = {
  "gitlab-artifacts" = {
    user_name      = "gitlab-artifacts-user"
    enable_version = false
    policy_rw      = true
  }
  "gitlab-lfs" = {
    user_name      = "gitlab-lfs-user"
    enable_version = false
    policy_rw      = true
  }
  "gitlab-uploads" = {
    user_name      = "gitlab-uploads-user"
    enable_version = false
    policy_rw      = true
  }
  "gitlab-packages" = {
    user_name      = "gitlab-packages-user"
    enable_version = false
    policy_rw      = true
  }
  "gitlab-terraform-state" = {
    user_name      = "gitlab-tf-state-user"
    enable_version = true
    policy_rw      = true
  }
  "gitlab-backups" = {
    user_name      = "gitlab-backup-user"
    enable_version = false
    policy_rw      = true
  }
  "gitlab-tmp-backups" = {
    user_name      = "gitlab-tmp-backup-user"
    enable_version = false
    policy_rw      = true
  }
}
