
harbor_minio_compute = {
  cluster_identity = {
    service_name = "harbor"
    component    = "minio"
    cluster_name = "20-harbor-minio"
  }

  nodes = {
    "harbor-minio-db-node-00" = {
      ip = "172.16.139.200", vcpu = 1, ram = 3072
      data_disks = [
        { name_suffix = "drive1", capacity = 10737418240 }, # 10GB
        { name_suffix = "drive2", capacity = 10737418240 }
      ]
    },
    # Uncomment the following lines for HA setup, abide by nodes % 4 = 0
    # "harbor-minio-db-node-01" = {
    #   ip = "172.16.139.201", vcpu = 1, ram = 3072
    #   data_disks = [
    #     { name_suffix = "drive1", capacity = 10737418240 }, # 10GB
    #     { name_suffix = "drive2", capacity = 10737418240 }
    #   ]
    # },
    # "harbor-minio-db-node-02" = {
    #   ip = "172.16.139.202", vcpu = 1, ram = 3072
    #   data_disks = [
    #     { name_suffix = "drive1", capacity = 10737418240 }, # 10GB
    #     { name_suffix = "drive2", capacity = 10737418240 }
    #   ]
    # },
    # "harbor-minio-db-node-03" = {
    #   ip = "172.16.139.203", vcpu = 1, ram = 3072
    #   data_disks = [
    #     { name_suffix = "drive1", capacity = 10737418240 }, # 10GB
    #     { name_suffix = "drive2", capacity = 10737418240 }
    #   ]
    # }
  }

  ha_config = {
    virtual_ip = "172.16.139.250"
    haproxy_nodes = {
      "harbor-minio-haproxy-node-00" = { ip = "172.16.139.210", vcpu = 1, ram = 2048 }
    }
  }

  base_image_path = "../../../packer/output/06-base-minio/ubuntu-server-24-06-base-minio.qcow2"
}

harbor_minio_infra = {
  network = {
    nat = {
      gateway = "172.16.91.1"
      cidrv4  = "172.16.91.0/24"
      dhcp = {
        start = "172.16.91.2"
        end   = "172.16.91.254"
      }
    }
    hostonly = {
      gateway = "172.16.139.1"
      cidrv4  = "172.16.139.0/24"
    }
  }
  allowed_subnet = "172.16.139.0/24"
}

harbor_minio_tenants = {
  "harbor-registry" = {
    user_name      = "harbor-user"
    enable_version = false
    policy_rw      = true
  }
}
