global_defs {
    router_id {{ keepalived_router_id }}
    vrrp_version 2
    enable_script_security
}

vrrp_instance VI_1 {
    state {{ 'MASTER' if inventory_hostname == groups['master'][0] else 'BACKUP' }}
    interface {{ k8s_ha_interface }}
    
    virtual_router_id {{ keepalived_vrrp_id }}
    advert_int {{ keepalived_advert_int }}
    
    # Priority logic: First master gets 100, others decrease
    priority {{ 100 - groups['master'].index(inventory_hostname) }}
    
    virtual_ipaddress {
        {{ kubeadm_ha_virtual_ip }}
    }
}