
service_catalog_name = "harbor"

harbor_minio_config = {
  "minio" = {
    role            = "minio"
    network_tier    = "minio"
    base_image_path = "../../../packer/output/06-base-minio/ubuntu-server-24-06-base-minio.qcow2"
    nodes = {
      "00" = {
        ip_suffix = 200, vcpu = 2, ram = 1536
        data_disks = [
          { name_suffix = "drive1", capacity = 10737418240 }, # 10GB
          { name_suffix = "drive2", capacity = 10737418240 }
        ]
      }
      # "01" = {
      #   ip_suffix = 201, vcpu = 2, ram = 1536
      #   data_disks = [
      #     { name_suffix = "drive1", capacity = 10737418240 }, # 10GB
      #     { name_suffix = "drive2", capacity = 10737418240 }
      #   ]
      # },
      # "02" = {
      #   ip_suffix = 202, vcpu = 2, ram = 1536
      #   data_disks = [
      #     { name_suffix = "drive1", capacity = 10737418240 }, # 10GB
      #     { name_suffix = "drive2", capacity = 10737418240 }
      #   ]
      # },
      # "03" = {
      #   ip_suffix = 203, vcpu = 2, ram = 1536
      #   data_disks = [
      #     { name_suffix = "drive1", capacity = 10737418240 }, # 10GB
      #     { name_suffix = "drive2", capacity = 10737418240 }
      #   ]
      # }
    }
  }
}

harbor_minio_tenants = {
  "harbor-registry" = {
    user_name      = "harbor-user"
    enable_version = false
    policy_rw      = true
  }
}
