
service_catalog_name = "harbor"

harbor_redis_config = {
  "redis" = {
    role            = "redis"
    network_tier    = "redis"
    base_image_path = "../../../packer/output/05-base-redis/ubuntu-server-24-05-base-redis.qcow2"

    nodes = {
      "00" = { ip_suffix = 200, vcpu = 2, ram = 2048 }
      # "01" = { ip_suffix = 201, vcpu = 2, ram = 2048 }
      # "02" = { ip_suffix = 202, vcpu = 2, ram = 2048 }
    }
  }
}

ansible_files = {
  playbook_file           = "20-provision-data-services.yaml"
  inventory_template_file = "inventory-redis-cluster.yaml.tftpl"
}
