
# Non-Catalog & Physical Alignment
primary_role = "minio"

target_clusters = {
  "minio" = "core-gitlab-minio"
}

service_config = {
  "minio" = {
    role            = "minio"
    network_tier    = "minio"
    base_image_path = "../../../packer/output/base-minio/ubuntu-24-base-minio.qcow2"
    nodes = {
      "00" = { ip_suffix = 200, vcpu = 2, ram_size = 3072 }
      # Uncomment the following lines for HA setup, abide by node % 4 != 0.
      "01" = { ip_suffix = 201, vcpu = 2, ram_size = 3072 },
      "02" = { ip_suffix = 202, vcpu = 2, ram_size = 3072 },
      "03" = { ip_suffix = 203, vcpu = 2, ram_size = 3072 }
    }
  }
}

ansible_files = {
  playbook_file           = "20-provision-data-services.yaml"
  inventory_template_file = "inventory-minio-cluster.yaml.tftpl"
}
