---
services:
  keycloak-db:
    image: postgres:18-alpine
    container_name: keycloak-db
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: {{ keycloak_db_user }}
      POSTGRES_PASSWORD: {{ keycloak_db_password }}
    volumes:
      - /opt/keycloak/postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U {{ keycloak_db_user }} -d keycloak"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - keycloak-net

  keycloak:
    image: quay.io/keycloak/keycloak:26.6.1
    container_name: keycloak
    command: start --optimized
    env_file: .env
    depends_on:
      keycloak-db:
        condition: service_healthy
    ports:
      - "8080:8080"
    volumes:
      - /opt/keycloak/data:/opt/keycloak/data
      - /opt/keycloak/conf:/opt/keycloak/conf
      - /opt/keycloak/providers:/opt/keycloak/providers
      - /opt/keycloak/certs:/opt/keycloak/certs:ro
    networks:
      - keycloak-net

networks:
  keycloak-net:
    driver: bridge
