---
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
nodeRegistration:
  name: "{{ inventory_hostname }}"
  kubeletExtraArgs:
    - name: container-runtime-endpoint
      value: "{{ kubeadm_cri_socket }}"
    - name: cgroup-driver
      value: "{{ kubeadm_cgroup_driver }}"
localAPIEndpoint:
  advertiseAddress: "{{ kubeadm_advertise_ip }}"
  bindPort: 6443
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: "{{ kubeadm_version }}"
{# imageRepository: "{{ registry_host }}" #}
controlPlaneEndpoint: "{{ kubeadm_ha_virtual_ip }}:6443"
apiServer:
  certSANs:
    - "{{ kubeadm_ha_virtual_ip }}"
{% for san in kubeadm_extra_sans %}
    - "{{ san }}"
{% endfor %}
{% for ip in kubeadm_master_ips %}
    - "{{ ip }}"
{% endfor %}

networking:
  podSubnet: "{{ kubeadm_pod_subnet }}"
etcd:
  local:
    serverCertSANs:
{% for host in groups['master'] %}
      - "{{ host }}"
{% endfor %}
{% for ip in kubeadm_master_ips %}
      - "{{ ip }}"
{% endfor %}
    peerCertSANs:
{% for host in groups['master'] %}
      - "{{ host }}"
{% endfor %}
{% for ip in kubeadm_master_ips %}
      - "{{ ip }}"
{% endfor %}
