# Defines the hardware and IP addresses for each virtual machine in the cluster.
postgres_cluster_config = {
  cluster_name = "10-postgres-cluster"
  nodes = {
    postgres = [
      { ip = "172.16.136.200", vcpu = 4, ram = 4096 },
      { ip = "172.16.136.201", vcpu = 4, ram = 4096 },
      { ip = "172.16.136.202", vcpu = 4, ram = 4096 },
    ],
    etcd = [
      { ip = "172.16.136.210", vcpu = 2, ram = 2048 },
      { ip = "172.16.136.211", vcpu = 2, ram = 2048 },
      { ip = "172.16.136.212", vcpu = 2, ram = 2048 }
    ],
    haproxy = [
      { ip = "172.16.136.220", vcpu = 2, ram = 2048 }
    ]
  }
}

postgres_infrastructure = {
  network = {
    nat = {
      name_network = "iac-postgres-nat-net"
      name_bridge  = "pos-nat-br"

      ips = {
        address = "172.16.88.1"
        prefix  = 24
        dhcp = {
          start = "172.16.88.2"
          end   = "172.16.88.254"
        }
      }
    }

    hostonly = {
      name_network = "iac-postgres-hostonly-net"
      name_bridge  = "pos-host-br"

      ips = {
        address = "172.16.136.1"
        prefix  = 24
        dhcp    = null
      }
    }
  }
  postgres_allowed_subnet = "172.16.136.0/24"
  storage_pool_name       = "iac-postgres"
}
