global_defs {
    router_id {{ inventory_hostname }}
}

vrrp_instance VI_1 {
    {% set node_index = groups['vault_haproxy'].index(inventory_hostname) %}
    state {{ 'MASTER' if node_index == 0 else 'BACKUP' }}
    interface {{ ansible_default_ipv4.interface }}
    virtual_router_id 51
    priority {{ 150 - (node_index * 10) }}
    advert_int 1

    authentication {
        auth_type PASS
        auth_pass {{ vault_keepalived_auth_pass }}
    }

    virtual_ipaddress {
        {{ vault_ha_virtual_ip }}
    }
}
