
target_clusters = { "harbor_bootstrapper" = "core-harbor-bootstrapper-frontend" }
primary_role    = "harbor_bootstrapper"

service_config = {
  "harbor_bootstrapper" = {
    role            = "harbor_bootstrapper"
    network_tier    = "default"
    base_image_path = "../../../packer/output/docker-harbor/ubuntu-24-docker-harbor.qcow2"
    nodes = {
      "00" = { ip_suffix = 200, vcpu = 2, ram_size = 1536 }
    }
  }
}
