# Network Binding
bind {{ advertise_ip }} 127.0.0.1
port 0
tls-port 6379

protected-mode yes
daemonize no
pidfile /var/run/redis/redis-server.pid
loglevel notice
logfile /var/log/redis/redis-server.log

# Systemd Integration
supervised systemd

# Working Directory
dir /var/lib/redis

# TLS Configuration
tls-cert-file /etc/redis/tls/server.crt
tls-key-file /etc/redis/tls/server.key
tls-ca-cert-file /etc/redis/tls/ca.crt
tls-auth-clients no 
tls-replication yes

# Persistence
appendonly yes
appendfsync everysec

# Security
requirepass {{ redis_requirepass }}

# Replication Auth
masteruser default
masterauth {{ redis_masterauth }}

# Replication
{% if inventory_hostname in (groups['redis_replicas'] | default([])) %}
# Note: redis_initial_master_ip must be defined in inventory or group_vars
replicaof {{ redis_initial_master_ip }} 6379
{% endif %}
