pid_file = "/var/run/vault-agent.pid"

vault {
  address = "{{ vault_addr | default('https://172.16.136.250:443') }}"
  ca_cert = "/etc/vault.d/vault-ca.crt"
}

auto_auth {
  method "approle" {
    mount_path = "auth/approle"
    config = {
      role_id_file_path = "/etc/vault.d/approle/role_id"
      secret_id_file_path = "/etc/vault.d/approle/secret_id"
      remove_secret_id_file_after_reading = false
    }
  }

  sink "file" {
    config = {
      path = "/tmp/vault-token"
    }
  }
}

template {
  destination = "/etc/redis/certs/server.crt"
  contents = <<EOH
{{ '{{- with secret "pki/prod/issue/' 
~ vault_role_name ~ '" "common_name=' ~ redis_service_domain ~ '" "ip_sans=' ~ advertise_ip ~ ',' ~ redis_ha_virtual_ip ~ '" "ttl=24h" -}}' }}
{{ '{{ .Data.certificate }}' }}
{{ '{{ .Data.issuing_ca }}' }}
{{ '{{- end -}}' }}
EOH
  command = "chown redis:redis /etc/redis/certs/server.crt && chmod 0644 /etc/redis/certs/server.crt && (systemctl is-active --quiet redis-server && systemctl restart redis-server || true) && (systemctl is-active --quiet redis-sentinel && systemctl restart redis-sentinel || true)"
}

template {
  destination = "/etc/redis/certs/server.key"
  contents = <<EOH
{{ '{{- with secret "pki/prod/issue/' ~ vault_role_name ~ '" "common_name=' ~ redis_service_domain ~ '" "ip_sans=' ~ advertise_ip ~ ',' ~ redis_ha_virtual_ip ~ '" "ttl=24h" -}}' }}
{{ '{{ .Data.private_key }}' }}
{{ '{{- end -}}' }}
EOH
  command = "chown redis:redis /etc/redis/certs/server.key && chmod 0600 /etc/redis/certs/server.key"
}

# CA Certificate (Trust Anchor)
template {
  destination = "/etc/redis/certs/ca.crt"
  contents = <<EOH
{{ '{{- with secret "pki/prod/issue/' ~ vault_role_name ~ '" "common_name=' ~ redis_service_domain ~ '" "ttl=24h" -}}' }}
{{ '{{ .Data.issuing_ca }}' }}
{{ '{{- end -}}' }}
EOH
  command = "chown redis:redis /etc/redis/certs/ca.crt && chmod 0644 /etc/redis/certs/ca.crt"
}
