
pid_file = "/var/run/vault-agent.pid"

vault {
  address = "{{ vault_addr | trim('/') }}"
  ca_cert = "/etc/vault.d/vault-ca.crt"
}

auto_auth {
  method "approle" {
    mount_path = "auth/{{ vault_auth_path }}"
    config = {
      role_id_file_path = "/etc/vault.d/approle/role_id"
      secret_id_file_path = "/etc/vault.d/approle/secret_id"
      remove_secret_id_file_after_reading = false
    }
  }

  sink "file" {
    config = {
      path = "/tmp/vault-token"
    }
  }
}

# Single Template producing an executable shell script.
# This prevents ALL JSON parsing dependencies and Cert/Key mismatches.
template {
  destination = "/etc/vault.d/deploy-certs.sh"
  perms       = "0700"
  contents    = <<EOH
{{ '{{- with secret "pki/prod/issue/' ~ vault_role_name ~ '" "common_name=' ~ vault_agent_common_name ~ '" "ip_sans=' ~ hostvars[inventory_hostname]['advertise_ip'] ~ ',' ~ redis_ha_virtual_ip ~ '" "ttl=' ~ vault_agent_cert_ttl ~ '" -}}' }}
#!/bin/sh

cat << 'CERT_EOF' > /etc/redis/certs/server.crt
{{ '{{ .Data.certificate }}' }}
{{ '{{ .Data.issuing_ca }}' }}
CERT_EOF

cat << 'KEY_EOF' > /etc/redis/certs/server.key
{{ '{{ .Data.private_key }}' }}
KEY_EOF

cat << 'CA_EOF' > /etc/redis/certs/ca.crt
{{ '{{ .Data.issuing_ca }}' }}
CA_EOF

chown redis:redis /etc/redis/certs/server.crt /etc/redis/certs/server.key /etc/redis/certs/ca.crt
chmod 0644 /etc/redis/certs/server.crt /etc/redis/certs/ca.crt
chmod 0600 /etc/redis/certs/server.key

systemctl restart redis-server
systemctl is-active --quiet redis-sentinel && systemctl restart redis-sentinel || true
{{ '{{- end -}}' }}
EOH

  command = "/bin/sh /etc/vault.d/deploy-certs.sh"
}
