# Defines the hardware and IP addresses for each virtual machine in the cluster.

redis_cluster_config = {
  cluster_name = "20-provision-redis-gitlab"
  nodes = {
    redis = [
      { ip = "172.16.141.200", vcpu = 4, ram = 4096 },
      { ip = "172.16.141.201", vcpu = 4, ram = 4096 },
      { ip = "172.16.141.202", vcpu = 4, ram = 4096 },
    ]
    haproxy = [
      { ip = "172.16.141.210", vcpu = 2, ram = 2048 }
    ]
  }
  ha_virtual_ip = "172.16.141.250"
}

redis_infrastructure = {
  network = {
    nat = {
      name_network = "iac-redis-gitlab-nat"
      name_bridge  = "redis-gitlab-na"

      ips = {
        address = "172.16.93.1"
        prefix  = 24
        dhcp = {
          start = "172.16.93.2"
          end   = "172.16.93.254"
        }
      }
    }

    hostonly = {
      name_network = "iac-redis-gitlab-hostonly"
      name_bridge  = "redis-gitlab-ho"

      ips = {
        address = "172.16.141.1"
        prefix  = 24
        dhcp    = null
      }
    }
  }
  redis_allowed_subnet = "172.16.141.0/24"
  storage_pool_name    = "iac-redis-gitlab"
}
