[Unit]
Description=Central LB Policy-Based Routing Persister
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pbr-rules.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
