global
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

    # Tuning
    maxconn 2000
    nbthread 4
    tune.ssl.default-dh-param 2048
    tune.bufsize 16384

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    maxconn 1000
    timeout connect 5000
    timeout client  60000
    timeout server  60000
    timeout http-keep-alive 10000

# Stats Interface, only bind to management IP
listen stats
    bind {{ ansible_host }}:{{ haproxy_stats_port }} ssl crt /etc/haproxy/certs/vault.pem
    mode http
    stats enable
    stats uri /
    stats refresh 10s
    stats auth {{ haproxy_stats_user }}:{{ haproxy_stats_pass }}
    stats admin if TRUE

{# Service Port Mapping #}
{% for segment in lb_service_segments %}
# Service: {{ segment.name }}
{% if segment.ports %}
{% for port_name, port_cfg in segment.ports.items() %}
{% set port_suffix = port_name | replace('-', '_') %}
{% set backend_name = "be_" ~ (segment.name | replace('-', '_')) ~ "_" ~ port_suffix %}

frontend fe_{{ segment.name | replace('-', '_') }}_{{ port_suffix }}
    bind {{ segment.vip }}:{{ port_cfg.frontend }}
    mode tcp
    option tcplog
    default_backend {{ backend_name }}

backend {{ backend_name }}
    mode tcp
    balance roundrobin
    {% if port_cfg.health_check_type == 'http' %}
    option httpchk GET {{ port_cfg.health_check_http_path | default('/') }}
    http-check expect {{ port_cfg.health_check_http_expect | default('status 200') }}
    {% endif %} 
    {% for server in segment.backend_servers %}
    server {{ server.name }} {{ server.ip }}:{{ port_cfg.backend }} check{% if port_cfg.health_check_port %} port {{ port_cfg.health_check_port }}{% endif %} inter {{ haproxy_health_check_inter }} fall {{ haproxy_health_check_fall }} rise {{ haproxy_health_check_rise }}{% if port_cfg.health_check_ssl | default(false) or 'vault' in segment.name %} check-ssl verify none{% endif %} {% if port_cfg.send_proxy_v2 | default(false) %} send-proxy-v2{% endif %} 
    {% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
