
pid_file = "/var/run/vault-agent.pid"

vault {
  address = "{{ vault_addr | default('https://172.16.136.250:443') }}"
  ca_cert = "/etc/vault.d/vault-ca.crt"
}

auto_auth {
  method "approle" {
    mount_path = "auth/approle"
    config = {
      role_id_file_path = "/etc/vault.d/approle/role_id"
      secret_id_file_path = "/etc/vault.d/approle/secret_id"
      remove_secret_id_file_after_reading = false
    }
  }

  sink "file" {
    config = {
      path = "/tmp/vault-token"
    }
  }
}

# Separate the Data object and EOH fields onto different lines to ensure that the rendered file's EOH field is on a separate line in HCL syntax.
# Raw -> Ansible variable -> Raw

# Server Certificate & Key Template
template {
  destination = "/etc/postgresql/certs/server.crt"
  contents = <<EOH
{% raw %}{{- with secret "pki/prod/issue/postgres-role" "common_name=postgres.iac.local" "ip_sans={% endraw %}{{ advertise_ip }}{% raw %}" "ttl=24h" -}}
{{ .Data.certificate }}
{{ .Data.issuing_ca }}
{{- end -}}
{% endraw %}
EOH
  command = "chown postgres:postgres /etc/postgresql/certs/server.crt && (systemctl is-active --quiet patroni && systemctl reload patroni || true)"
}
# The command above is to ensure that Patroni service exists before reloading, to avoid failure on first startup

template {
  destination = "/etc/postgresql/certs/server.key"
  contents = <<EOH
{% raw %}{{- with secret "pki/prod/issue/postgres-role" "common_name=postgres.iac.local" "ip_sans={% endraw %}{{ advertise_ip }}{% raw %}" "ttl=24h" -}}
{{ .Data.private_key }}
{{- end -}}
{% endraw %}
EOH
  command = "chown postgres:postgres /etc/postgresql/certs/server.key && chmod 0600 /etc/postgresql/certs/server.key"
}

# CA Certificate Template (Trust Anchor)
template {
  destination = "/etc/postgresql/certs/ca.crt"
  contents = <<EOH
{% raw %}{{- with secret "pki/prod/issue/postgres-role" "common_name=postgres.iac.local" "ttl=24h" -}}
{{ .Data.issuing_ca }}
{{- end -}}
{% endraw %}
EOH
  command = "chown postgres:postgres /etc/postgresql/certs/ca.crt"
}
