---
- name: "Play 1: Configure Vault Load Balancer (HAProxy)"
  hosts: vault_haproxy
  become: true
  roles:
    - 11-vault-haproxy

- name: "Play 2: Configure Vault Nodes (Setup & Config)"
  hosts: vault_leader, vault_follower
  become: true
  roles:
    - 12-vault-setup
    - 13-vault-configure

- name: "Play 3: Initialize Vault Cluster (Primary Only)"
  hosts: vault_leader
  become: true
  roles:
    - 14-vault-initialize

- name: "Play 4a: Unseal Primary Node"
  hosts: vault_leader
  become: true
  roles:
    - 15-vault-unseal

- name: "Play 4b: Unseal Standby Nodes"
  hosts: vault_follower
  become: true
  roles:
    - 15-vault-unseal

- name: "Play 4c: Verify Vault Cluster Availability"
  hosts: vault_haproxy
  gather_facts: false
  roles:
    - 15-vault-unseal
