---
# Postgres, Patroni, HAProxy
- name: "Play 1: Configure etcd Cluster"
  hosts: postgres_etcd_nodes
  become: true
  roles:
    - 21-postgres-etcd

- name: "Play 2: Configure Patroni and PostgreSQL Cluster"
  hosts: postgres_nodes
  become: true
  roles:
    - 22-postgres-patroni

- name: "Play 3: Configure HAProxy for Load Balancing"
  hosts: postgres_haproxy_nodes
  become: true
  roles:
    - 23-postgres-haproxy

# Redis Sentinel
- name: "Play 4: Configure Redis High Availability Cluster"
  hosts: redis_master, redis_replicas
  become: true
  roles:
    - 25-redis-sentinel

# MinIO, HAProxy
- name: "Play 5: Configure MinIO High Availability Cluster"
  hosts: minio_nodes
  become: true
  roles:
    - 27-minio-distributed

- name: "Play 6: Configure HAProxy for Load Balancing"
  hosts: minio_haproxy_nodes
  become: true
  roles:
    - 28-minio-ha-loadbalancer
