---
- name: "Play 1: Clean up stale nodes from base image"
  hosts: "{{ (groups['nodes'] | default([])) }}"
  become: true
  roles:
    - 31-microk8s-nodes

- name: "Play 2: Configure High Availability MicroK8s Cluster"
  hosts: "{{ (groups['nodes'] | default([])) | difference((groups['nodes'] | default([]))[:1]) }}"
  become: true
  roles:
    - 32-microk8s-ha

- name: "Play 3: Configure MicroK8s Addons"
  hosts: "{{ groups['nodes'][0] | default([]) }}"
  become: true
  roles:
    - 33-microk8s-addons

- name: "Play 4: Setup Kubeconfig for all nodes"
  hosts: nodes
  become: true
  roles:
    - 34-microk8s-kubeconfig
