global
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect {{ vault_haproxy_timeout_connect }}
    timeout client  {{ vault_haproxy_timeout_client }}
    timeout server  {{ vault_haproxy_timeout_server }}

# Vault Frontend
frontend vault_frontend
    bind *:{{ vault_haproxy_frontend_port }}
    mode tcp
    default_backend vault_backend

# Vault Backend
backend vault_backend
    mode tcp
    balance roundrobin
    
    # Vault Health Check API Doc: https://developer.hashicorp.com/vault/api-docs/system/health
    option httpchk GET /v1/sys/health
    
    # 200 = Initialized, Unsealed, and Active (Leader) <- Only forward to this
    # 429 = Initialized, Unsealed, and Standby
    # 503 = Uninitialized or Sealed
    http-check expect status 200

    # SSL Check: since it's self-signed, must use verify none to ignore certificate verification
    {% for host in groups['vault_leader'] | union(groups['vault_follower']) %}
    server {{ host }} {{ hostvars[host]['advertise_ip'] }}:{{ vault_port_api }} check check-ssl verify none inter 2s fall 3 rise 2
    {% endfor %}

# Stats Dashboard (Optional, for debugging)
listen stats
    bind *:{{ vault_haproxy_stats_port }}
    mode http
    stats enable
    stats uri /
    stats refresh 5s

    # [Security Fix] Force Basic Authentication with Admin User
    stats auth {{ vault_haproxy_stats_user }}:{{ vault_haproxy_stats_pass }}
    stats admin if TRUE
