
gitlab_minio_compute = {

  cluster_identity = {
    service_name = "gitlab"
    component    = "minio"
    cluster_name = "20-gitlab-minio"
  }

  minio_config = {
    nodes = {
      "gitlab-minio-db-node-00" = {
        ip = "172.16.142.200", vcpu = 2, ram = 3072
        data_disks = [
          { name_suffix = "drive1", capacity = 10737418240 }, # 10GB
          { name_suffix = "drive2", capacity = 10737418240 }
        ]
      },
      # Uncomment the following lines for HA setup, abide by nodes % 4 = 0
      # "gitlab-minio-db-node-01" = {
      #   ip = "172.16.142.201", vcpu = 2, ram = 3072
      #   data_disks = [
      #     { name_suffix = "drive1", capacity = 10737418240 }, # 10GB
      #     { name_suffix = "drive2", capacity = 10737418240 }
      #   ]
      # },
      # "gitlab-minio-db-node-02" = {
      #   ip = "172.16.142.202", vcpu = 2, ram = 3072
      #   data_disks = [
      #     { name_suffix = "drive1", capacity = 10737418240 }, # 10GB
      #     { name_suffix = "drive2", capacity = 10737418240 }
      #   ]
      # },
      # "gitlab-minio-db-node-03" = {
      #   ip = "172.16.142.203", vcpu = 2, ram = 3072
      #   data_disks = [
      #     { name_suffix = "drive1", capacity = 10737418240 }, # 10GB
      #     { name_suffix = "drive2", capacity = 10737418240 }
      #   ]
      # }
    }
    base_image_path = "../../../packer/output/06-base-minio/ubuntu-server-24-06-base-minio.qcow2"
  }

  haproxy_config = {
    virtual_ip = "172.16.142.250"
    nodes = {
      "gitlab-minio-haproxy-node-00" = { ip = "172.16.142.210", vcpu = 1, ram = 512 }
    }
    base_image_path = "../../../packer/output/08-base-haproxy/ubuntu-server-24-08-base-haproxy.qcow2"
  }
}

gitlab_minio_infra = {
  network = {
    nat = {
      gateway = "172.16.94.1"
      cidrv4  = "172.16.94.0/24"
      dhcp = {
        start = "172.16.94.2"
        end   = "172.16.94.254"
      }
    }
    hostonly = {
      gateway = "172.16.142.1"
      cidrv4  = "172.16.142.0/24"
    }
  }
  allowed_subnet = "172.16.142.0/24"
}

gitlab_minio_tenants = {
  "gitlab-artifacts" = {
    user_name      = "gitlab-artifacts-user"
    enable_version = false
    policy_rw      = true
  }
  "gitlab-lfs" = {
    user_name      = "gitlab-lfs-user"
    enable_version = false
    policy_rw      = true
  }
  "gitlab-uploads" = {
    user_name      = "gitlab-uploads-user"
    enable_version = false
    policy_rw      = true
  }
  "gitlab-packages" = {
    user_name      = "gitlab-packages-user"
    enable_version = false
    policy_rw      = true
  }
  "gitlab-terraform-state" = {
    user_name      = "gitlab-tf-state-user"
    enable_version = true
    policy_rw      = true
  }
  "gitlab-backups" = {
    user_name      = "gitlab-backup-user"
    enable_version = false
    policy_rw      = true
  }
}
