
# Define Server Pool / data storage (distributed nodes and disks) location
MINIO_VOLUMES="
{%- for ip in minio_cluster_ips -%}
https://{{ ip }}:9000/data{1...{{ minio_data_drives | length }}}{{ " " }}
{%- endfor -%}
"

# Administrator account
MINIO_ROOT_USER={{ minio_root_user }}
MINIO_ROOT_PASSWORD={{ minio_root_password }}

# Network binding
MINIO_OPTS="--address :9000 --console-address :9001 --certs-dir /etc/minio/certs"
MINIO_SERVER_URL="https://{{ minio_ha_virtual_ip }}:9000"

# Add Site Replication etc. here
# MINIO_REGION="us-east-1"
