
# Define Server Pool / data storage (distributed nodes and disks) location
# e.g. http://172.16.138.20{0...3}:9000/data{1...2}
MINIO_VOLUMES="{{ minio_cluster_vol_string }}"

# Administrator account
MINIO_ROOT_USER={{ minio_root_user }}
MINIO_ROOT_PASSWORD={{ minio_root_password }}

# Network binding
MINIO_OPTS="--address :9000 --console-address :9001"

# Add Site Replication etc. here
# MINIO_REGION="us-east-1"
