---
# Global settings for the Patroni cluster
scope: {{ postgres_cluster_name }}
namespace: /service/{{ postgres_cluster_name }}/postgres/
name: {{ inventory_hostname }}

# REST API
restapi:
  listen: "{{ advertise_ip }}:{{ patroni_restapi_port }}"
  connect_address: "{{ advertise_ip }}:{{ patroni_restapi_port }}"

# DCS Configuration (etcd)
etcd3:
  hosts:
{% for host in groups['postgres_etcd_nodes'] %}
    - {{ hostvars[host]['advertise_ip'] }}:2379
{% endfor %}
  ttl: 30

bootstrap:
  dcs:
    ttl: 20
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
  initdb:
    - encoding: UTF8
    - data-checksums
    - auth-host: md5
    - auth-local: md5
  pg_hba:
    # HAProxy does not need mTLS
{% for host in groups['postgres_haproxy_nodes'] | default([]) %}
    - hostssl all all {{ hostvars[host]['advertise_ip'] }}/32 md5
{% endfor %}

    # Patroni does not need mTLS
    - host all all {{ advertise_ip }}/32 md5

    # Allow other nodes in the cluster to replicate (no mTLS)
{% for host in groups['postgres_db_nodes'] %}
    - hostssl replication repuser {{ hostvars[host]['advertise_ip'] }}/32 md5
    - hostssl all postgres {{ hostvars[host]['advertise_ip'] }}/32 md5
    - hostssl all all {{ hostvars[host]['advertise_ip'] }}/32 md5
{% endfor %}

    # Terraform Runner (No mTLS, Password Only)
    - hostssl all all {{ terraform_runner_subnet | default('172.16.137.0/24') }} md5

    # Rule 1: K8s Node Network (Enforce mTLS) from Terraform
    - hostssl all all {{ postgres_mtls_node_subnet }} md5 clientcert=verify-ca

    # Rule 2: K8s Pod Network (Enforce mTLS) from Ansible Defaults
    - hostssl all all {{ postgres_mtls_pod_subnet }} md5 clientcert=verify-ca

    # Local loopback
    - host all all 127.0.0.1/32 md5

postgresql:
  listen: "{{ advertise_ip }}:{{ postgres_port }}"
  connect_address: "{{ advertise_ip }}:{{ postgres_port }}"
  data_dir: /var/lib/postgresql/{{ postgres_version }}/data
  pgpass: /tmp/pgpass{{ postgres_port }}

  authentication:
    replication:
      username: repuser
      password: "{{ pg_replication_password }}"
    superuser:
      username: postgres
      password: "{{ pg_superuser_password }}"

  parameters:
    ssl: "on"
    ssl_ca_file: "/etc/postgresql/certs/ca.crt"
    ssl_cert_file: "/etc/postgresql/certs/server.crt"
    ssl_key_file: "/etc/postgresql/certs/server.key"
    max_connections: 100
    max_wal_senders: 10
    wal_level: replica
    hot_standby: "on"
