
service_catalog_name = "gitlab"

gitlab_kubeadm_config = {
  "master" = {
    role            = "master"
    network_tier    = "default"
    base_image_path = "../../../packer/output/base-kubeadm/ubuntu-24-base-kubeadm.qcow2"

    nodes = {
      "00" = { ip_suffix = 200, vcpu = 2, ram_size = 2048, os_disk_capacity_gib = 40 }
      # Uncomment the following lines for HA setup, abide by node % 2 != 0.
      # "01" = { ip_suffix = 201, vcpu = 2, ram_size = 2048, os_disk_capacity_gib = 40 }
      # "02" = { ip_suffix = 202, vcpu = 2, ram_size = 2048, os_disk_capacity_gib = 40 }
    }
  }

  "worker" = {
    role            = "worker"
    network_tier    = "default"
    base_image_path = "../../../packer/output/base-kubeadm/ubuntu-24-base-kubeadm.qcow2"

    nodes = {
      "10" = { ip_suffix = 210, vcpu = 2, ram_size = 2048, os_disk_capacity_gib = 40 }
      # Uncomment the following lines for HA setup, abide by node % 2 != 0.
      # "11" = { ip_suffix = 211, vcpu = 2, ram_size = 2048, os_disk_capacity_gib = 40 }
      # "12" = { ip_suffix = 212, vcpu = 2, ram_size = 2048, os_disk_capacity_gib = 40 }
    }
  }
}

kubernetes_cluster_configuration = {
  pod_subnet = "10.244.0.0/16" # default
}

ansible_files = {
  playbook_file           = "30-provision-kubeadm.yaml"
  inventory_template_file = "inventory-kubeadm-cluster.yaml.tftpl"
}
