
github_owner = "forker-or-cloner's-account"
homepage_url = "https://gitlab.com/<your-gitlab-username>/on-premise-gitlab-deployment"
visibility   = "public"

# Maximun 350 characters.
repository_description = "[MVP] Multi-layer Terraform IaC for on-premise GitLab deployment on KVM/QEMU (Libvirt). HA components include Kubeadm, Patroni Postgres, Redis Sentinel, MinIO, Gitaly Praefect, Vault, Harbor, Runner, and LGTM stack. Integrates Keycloak SSO and Harbor Bootstrapper. Provisioned end-to-end via Packer, Terraform, and Ansible."
