global
    log /dev/log    local0
    log /dev/log    local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

# Status Page
listen stats
    bind *:{{ haproxy_stats_port }}
    mode http
    stats enable
    stats uri /
    stats refresh 10s
    stats admin if TRUE

# Read-Write Frontend (Route to Leader)
listen postgres_readwrite
    bind *:{{ haproxy_rw_port }}
    mode tcp
    option httpchk OPTIONS /master
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    balance first
{% for host in groups['postgres_db_nodes'] %}
    server {{ host }} {{ hostvars[host]['advertise_ip'] }}:{{ postgres_port }} check port {{ patroni_api_port }}
{% endfor %}

# Read-Only Frontend (Route to Replicas)
listen postgres_readonly
    bind *:{{ haproxy_ro_port }}
    mode tcp
    option httpchk OPTIONS /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    balance roundrobin
{% for host in groups['postgres_db_nodes'] %}
    server {{ host }} {{ hostvars[host]['advertise_ip'] }}:{{ postgres_port }} check port {{ patroni_api_port }}
{% endfor %}
