- name: "Block A: System & Service Configuration"
  become: true
  block:
    - name: "A1. Create Vault system group & user"
      ansible.builtin.group:
        name: "{{ vault_owner }}"
        system: true
        state: present
    - ansible.builtin.user:
        name: "{{ vault_owner }}"
        system: true
        shell: /usr/sbin/nologin
        create_home: false
        home: /etc/vault.d

    - name: "A2. Create Vault Config & TLS Directories"
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: "{{ vault_owner }}"
        group: "{{ vault_group }}"
        mode: "0750"
      loop:
        - "{{ vault_dir_config }}"
        - "{{ vault_dir_tls }}"
        - "{{ vault_dir_data }}"

    - name: "A3. Create Vault Systemd Service"
      ansible.builtin.template:
        src: vault.service.j2
        dest: "/etc/systemd/system/vault.service"
        owner: root
        group: root
        mode: "0644"
      notify: Reload Systemd

- name: "Block B: Deploy Vault TLS Certificates (Managed by Terraform)"
  become: true
  block:
    - name: "Step B1. Ensure Vault TLS directory exists with secure permissions"
      ansible.builtin.file:
        path: "{{ vault_dir_tls }}"
        state: directory
        owner: vault
        group: vault
        mode: "0750"

    - name: "Step B2. Deploy Vault Server Certificate"
      ansible.builtin.copy:
        src: "{{ vault_local_tls_source_dir }}/vault.crt"
        dest: "{{ vault_dir_tls }}/vault.crt"
        owner: vault
        group: vault
        mode: "0640"
      notify: Restart Vault

    - name: "Step B3. Deploy Vault Server Private Key"
      ansible.builtin.copy:
        src: "{{ vault_local_tls_source_dir }}/vault.key"
        dest: "{{ vault_dir_tls }}/vault.key"
        owner: vault
        group: vault
        mode: "0600"
      notify: Restart Vault

    - name: "Step B4. Deploy Vault CA Certificate"
      ansible.builtin.copy:
        src: "{{ vault_local_tls_source_dir }}/vault-ca.crt"
        dest: "{{ vault_dir_tls }}/vault-ca.crt"
        owner: vault
        group: vault
        mode: "0644"
      notify: Restart Vault

    - name: "Step B5. Trust Vault Root CA on OS level (for local client tools)"
      ansible.builtin.copy:
        src: "{{ vault_local_tls_source_dir }}/vault-ca.crt"
        dest: /usr/local/share/ca-certificates/vault-ca.crt
        mode: "0644"
      register: trust_ca

    - name: "Step B6. Update OS CA trust store"
      ansible.builtin.command: update-ca-certificates
      when: trust_ca.changed
