---
all:
  vars:
    ansible_user: "${ansible_ssh_user}"
    service_identifier: "${service_name}"

    dev_harbor_cluster_ips: ${jsonencode(dev_harbor_ips)}
    dev_harbor_mtls_node_subnet: "${dev_harbor_mtls_node_subnet}"
    dev_harbor_nat_subnet_prefix: "${dev_harbor_nat_subnet_prefix}"
    dev_harbor_service_domain: "${dev_harbor_service_domain}"
    dev_harbor_pki_role_name: "${dev_harbor_pki_role_name}"

  children:
    dev_harbor_nodes:
      hosts:
%{ for key, node in dev_harbor_nodes ~}
        ${key}:
          advertise_ip: ${node.ip}
%{ endfor ~}
