
%{~ for node in nodes ~}
Host ${node.key}
  HostName ${node.ip}
  User ${ssh_user}
  IdentityFile ${ssh_private_key_path}
  StrictHostKeyChecking yes
  PasswordAuthentication no
  UserKnownHostsFile ${known_hosts_path}

%{~ endfor ~}