%{~ for node in nodes ~}
Host ${node.key}
  HostName ${node.ip}
  User ${ssh_user}
  IdentityFile ${ssh_private_key_path}
  StrictHostKeyChecking yes
  UserKnownHostsFile ~/.ssh/k8s_cluster_known_hosts

%{~ endfor ~}