
%{~ for node in nodes ~}
Host ${node.key}
  HostName ${node.ip}
  User ${ssh_user}
  IdentityFile ${ssh_private_key_path}
  StrictHostKeyChecking yes
  PasswordAuthentication no
  UserKnownHostsFile ~/.ssh/known_hosts_${config_name}

%{~ endfor ~}