
cert_manager_config = {
  version   = "v1.14.0"
  namespace = "cert-manager"
}

gitlab_helm_config = {
  version         = "9.8.2"
  namespace       = "gitlab"
  ingress_class   = "nginx"
  tls_secret_name = "gitlab-ingress-tls"
}

# Set to true to automate PAT generation; refer to README for details.
# enable_gitlab_pat_automation = false
